@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сотрудники</title>
</head>
<body>

    <h3>Сотрудники</h3>
    <hr />

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>О сотруднике</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee"> @employee.Id</a>                       
                    </td>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee">@employee.LastName</a>
                    </td>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee">@employee.FirstName</a>
                    </td>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee">@employee.Patronymic</a>
                    </td>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee">@employee.Age </a>
                    </td>
                    <td>
                        <a href="/Home/Employee?Id=@employee.Id
                           &LastName=@employee.LastName
                           &FirstName=@employee.FirstName
                           &Patronymic=@employee.Patronymic
                           &Age=@employee.Age
                           &AboutTheEmployee=@employee.AboutTheEmployee">@employee.AboutTheEmployee</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/">Домой</a>
</body>
</html>
