@model IEnumerable<WebStore.Models.Employee>
@using WebStore.Controllers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сотрудники</title>
</head>
<body>

    <h3>Сотрудники</h3>
    <hr/>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>О сотруднике</th>
            </tr>
        </thead>
        <tbody>           
          
            @{for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td>

                           <a href="/Home/Employee " @{var Employee = EmployeesController._Employees[i];} > @{EmployeeController._Employee = Employee; } @EmployeesController._Employees[i].Id</a>

                        </td>
                        <td>
                            <a href="/Home/Employee" @{ Employee = EmployeesController._Employees[i];}> @{EmployeeController._Employee = Employee; }  @EmployeesController._Employees[i].LastName</a>

                        </td>
                        <td>
                            <a href="/Home/Employee" @{ Employee = EmployeesController._Employees[i];}> @{EmployeeController._Employee = Employee; } @EmployeesController._Employees[i].FirstName</a>

                        </td>
                        <td>
                            <a href="/Home/Employee" @{ Employee = EmployeesController._Employees[i];}> @{EmployeeController._Employee = Employee; } @EmployeesController._Employees[i].Patronymic</a>

                        </td>
                        <td>
                            <a href="/Home/Employee" @{ Employee = EmployeesController._Employees[i];}> @{EmployeeController._Employee = Employee; } @EmployeesController._Employees[i].Age </a>
                        </td>
                        <td>
                            <a href="/Home/Employee" @{ Employee = EmployeesController._Employees[i];}> @{EmployeeController._Employee = Employee; }  @EmployeesController._Employees[i].AboutTheEmployee</a>

                        </td>
                    </tr>
                 }

            @*@foreach (var employee in Model)
            {
                <tr>
                    <td>
                        @{

                        }
                        <a href="/Home/Employee" @{ } @{EmployeeController._Employee = Model.ToList(); } " > @employee.Id</a>

                    </td>
                    <td>
                        <a href="/Home/Employee">@employee.LastName</a>

                    </td>
                    <td>
                        <a href="/Home/Employee">@employee.FirstName</a>

                    </td>
                    <td>
                        <a href="/Home/Employee">@employee.Patronymic</a>

                    </td>
                    <td>
                        <a href="/Home/Employee">@employee.Age </a>
                    </td>
                    <td>
                        <a href="/Home/Employee">@employee.AboutTheEmployee</a>

                    </td>
                </tr>*@
            }
        </tbody>
    </table>

    <a href="/">Домой</a>
</body>
</html>
