@model WebStore.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сотрудник</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Patronymic</th>
                <th>Age</th>
                <th>AboutTheEmployee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Age</td>
                <td>@Model.AboutTheEmployee</td>
            </tr>

        </tbody>
    </table>
    <a href="/Home/Employees">Назад</a>
</body>
</html>
