@model IEnumerable<WebStore.Domain.Models.Blog>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <partial name="Partial/_LeftSideBar"/>
                </div>
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">Блог Компании</h2>
                        <div class="single-blog-post">
                            @foreach (var blog in Model)
                            {
                    <div class="post-meta">
                        <p>
                            @blog.Title
                        </p>
                        <ul>
                            <li><i class="fa fa-user"></i> @blog.User</li>
                            <li><i class="fa fa-clock-o"></i> @blog.Time</li>
                            <li><i class="fa fa-calendar"></i> @blog.Date</li>
                        </ul>
                        <span>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </span>
                    </div>
                    <a href="">                           
                        <img src="~/images/blog/blog-one.jpg" alt="">
                    </a>
                    <p>@blog.article</p>
                    <a class="btn btn-primary" asp-controller="Blog" asp-action="BlogSelected" asp-route-id="@blog.id">Подробнее</a>                                                             
                            }
                            <div class="pagination-area">

                                <ul class="pagination">

                                    <li><a href="" class="active">1</a></li>

                                    <li><a href="">2</a></li>

                                    <li><a href="">3</a></li>

                                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>

                                </ul>


                            </div>
                        </div>
                        <p>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-default">Домой</a>
                        </p>
                    </div>
            </div>
        </div>
    </section>





